<!DOCTYPE html>
<html>
  <head>
    <title>Cenas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cenas</h1>
    <p>Welcome to Cenas</p>
  </body>
</html>
