<!DOCTYPE html>
<html>
<head>
    <title>Order Page</title>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/angular.min.js" type="text/javascript"></script>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <script src="/js/stock.js" type="text/javascript"></script>
    <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
</head>
<body ng-app="app">
<div ng-controller="StockController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 ng-if="user.email != 'admin@a.a'">{{user.email}}</h1>
                    <a href="/order">
                        <button class="btn btn-success">Order book</button>
                    </a>
                    <a href="/login">
                        <button class="btn btn-success">Logout</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Books</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table ng-if='user.email == "admin@a.a"' class="table" id="table">
                    <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Stock</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in orders">
                        <td>{{order.ISBN}}</td>
                        <td>{{order.quantity}}</td>
                        <td>
                            <button ng-click="updateOrder(order.ISBN, order.quantity)">Confirm Stock</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table ng-if='user.email != "admin@a.a"' class="table" id="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>ISBN</th>
                        <th>State</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in orders">
                        <td>{{order.book.title}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.book.price}}</td>
                        <td>{{order.book.ISBN}}</td>
                        <td>{{order.orderState}}</td>
                    </tr>
                    </tbody>
                </table>
                <hr>
            </div>
        </div>
    </div>

    <br>

</div>
<br>

<div class="panel panel-danger"></div>

</body>
</html>
