<!DOCTYPE html>
<html>
<head>
    <title>Order Page</title>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/angular.min.js" type="text/javascript"></script>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <script src="/js/order.js" type="text/javascript"></script>
    <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Username</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Books</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <input type="search" id="search" value="" class="form-control" placeholder="Search using Fuzzy searching">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table" id="table">
                <thead>
                <tr>
                    <th>First column</th>
                    <th>Second column</th>
                    <th>Third column</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Introducing</td>
                    <td>jQuery</td>
                    <td>Searchable</td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td>Ipsum</td>
                    <td>Dolor</td>
                </tr>
                <tr>
                    <td>Some</td>
                    <td>More</td>
                    <td>Data</td>
                </tr>
                </tbody>
            </table>
            <hr>
        </div>
    </div>
</div>
</body>
</html>
